<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositories</title>
    <link rel="stylesheet" href="https://unpkg.com/@fontsource/poppins@4.5.8/index.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Repositories</h1>

    <section>
        <ul>
            {% for repo in repos %}
                <li>
                    <a href="{{ repo.slug }}">{{ repo.title }}</a>
                    <a class="link-quiet" href="{{ repo.upstream_url }}" target="_blank">[upstream]</a>
                </li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>
