<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ file.path }}</title>
    <script src="https://kit.fontawesome.com/fb3a746f63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/@fontsource/poppins@4.5.8/index.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <main>
        <h1>{{ file.path }}</h1>
        <section class="file-content">
            {{ file.content }}
        </section>
    </main>
</body>
</html>
